<Blazorise.ThemeProvider Theme="@theme">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</Blazorise.ThemeProvider>

@code{

    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions()
        {
            Primary = "#07c440",
            Secondary = "#5C4E46"


        },
        TabsOptions = new ThemeTabsOptions { BorderRadius = "5" },
        BackgroundOptions = new ThemeBackgroundOptions { Body = "#F5F1F0", Primary = "#07c440", Light = "#5B4E46" },
        TextColorOptions = new ThemeTextColorOptions { Primary = "#07c440" }
    };
}
